
:root{
    --verdeescuro:#08462E;
    --verdeclaro:#19B377;
    --branco:#FFFFFF;
}
*{
    border: none;
}

body{
    overflow: hidden
}

main{
    background-color:var(--verdeescuro) ;
    height: 100vh
    
}
.imgf{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.explore{
   
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url(../imgs/teladelogin/fundo.png);
    background-repeat: no-repeat;
    
    background-position: center center; /* Centraliza horizontal e verticalmente */
    height: 100vh; 

}
.Login{
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    
}
.loginform{
    background-color: white;
    min-width: 256px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    
}
.loginform input{
    background-color: rgba(8, 70, 46, 0.84) ;
    padding-left: 3px;
    color: var(--branco);
    min-width: 90%;
    height: 50px;
    margin-top: 43px;
    border-radius: 5px;
    border: none;
    box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.623);
}
input::placeholder{
    color: rgba(255, 255, 255, 0.623);
}h2{
    font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

button{
    background-color: var(--verdeescuro);
    color: var(--branco);
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
     font-style: normal;
     letter-spacing: 2px;
     min-width: 90%;
    height: 50px;
    border-radius: 5px;
    box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.493);
    margin-top: 43px;

}
 h4{
    color: var(--verdeclaro);
 }